@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&display=swap");

#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
body{
  font-family: "Hanuman";
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page-title {
  background-image: linear-gradient(to right, #2b308f, #58a7b5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.Success {
  background-image: linear-gradient(to right, #136c73, #23cbd9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
